.bg-default {
    background-color: #ffffff;
    color: #24292f;
    border-color: #24292f;
}

.bg-muted {
    background-color: #f6f8fa;
    color: #24292f;
    border-color: #24292f;
}

.bg-emphasis {
    background-color: #24292f;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-neutral {
    background-color: #6e7781;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-accent {
    background-color: #0969da;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-success {
    background-color: #1f883d;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-attention {
    background-color: #f3a100;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-severe {
    background-color: #bc4c00;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-danger {
    background-color: #cf222e;
    color: #ffffff;
    border-color: #ffffff;
}

.bg-done {
    background-color: #8250df;
    color: #ffffff;
    border-color: #ffffff;
}